@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Inter:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forzar modo oscuro base */
body {
  @apply bg-[#050505] text-gray-200 font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}